<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filmoteka</title>
    <link rel="stylesheet" href="./sass/components/_card-markup.scss">
</head>

<body>
    <div class="main">
        <div class="card">
            <img src="https://image.tmdb.org/t/p/w500/t6HIqrRAclMCA60NsSmeqe9RmNV.jpg" alt="img of film"
                class="card__img">
            <p class="card__title">Avatar: The Way of Water</p>
            <div class="card__info">
                <p class="card__genres">Documentary, Drama, Other | 2022</p>
                <p class="card__rating">6,5</p>
            </div>
        </div>
    </div>
</body>

</html>