// -------- головна сторінка
main.light-theme {
  background-color: $main-background-color;
  color: $card-title-color;
}

main.home.dark-theme {
  background: rgb(10, 0, 0);
  background: $home-main-dark-bgd;

  color: $main-dark-color;
}

main.library.dark-theme {
  background: rgb(10, 0, 0);
  background: $library-main-dark-bgd;

  color: $main-dark-color;
}

// ---------- бібліотека, якщо для заглушки буде просто текст
.notification.light-theme {
  color: #747474;
}

.notification.dark-theme {
  color: #e2e2e2;
}

// ---------- модалки
// всередині details-modal
.details-modal.light-theme {
  background-color: #fff;
  color: $card-title-color;

  & .votes {
    background: $modal-background-rating-color;
  }

  & .modal-buttons__watched,
  .modal-buttons__queue {
    border-color: $btn-border-color-without-accent-bground;
  }
}

.details-modal.dark-theme {
  background-color: $modal-dark-bgd;
  color: $modal-dark-color;

  & .votes {
    background: #747474;
  }

  & .modal-buttons__watched,
  .modal-buttons__queue {
    color: $modal-dark-color;
    border-color: $modal-btn-dark-border-color;
  }

  & .close-button svg {
    fill: #e2e2e2;

    transition: fill $duration $timing-function;
    &:hover,
    &:focus {
      fill: $accent-color;
    }
  }
}

// всередині модалки реєстрації
.registration-modal.light-theme {
  background-color: #fff;
  color: $card-title-color;
}

.registration-modal.dark-theme {
  background-color: $modal-dark-bgd;
  color: $modal-dark-color;
}

// всередині карточки команди
.team-card.light-theme {
  background-color: #fff;

  &:before {
    background-color: #cecece;
  }

  &:after {
    background-color: #eeeeee;
  }
}

.team-card.dark-theme {
  background-color: $modal-dark-bgd;

  &:before {
    background-color: #2f2f2f;
  }

  &:after {
    background-color: #3e3e3e;
  }

  & .close-crew-btn {
    background-color: $modal-dark-bgd;
  }
}

// ---------- footer
footer.light-theme {
  background-color: $footer-background-color;
  color: $footer-text-color;

  & .footer-link-btn {
    color: $footer-text-color;

    &:hover,
    :focus {
      color: $accent-color;
    }
  }
}

footer.dark-theme {
  background-color: $footer-dark-bgd;
  color: $footer-dark-color;

  & .footer-link-btn {
    color: $footer-dark-color;

    &:hover,
    :focus {
      color: $accent-color;
    }
  }
}

// кнопки пагінації
