<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filmoteka</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <!-- ========== Footer ========== -->
    <footer class="footer">
        <div class="container container-footer">
            <p class="footer__text">
                &#169; 2023 &#124; All Rights Reserved &#124;
                <span class="footer__content"
                  >Developed with
                  <svg class="footer__icon">
                    <use
                      href="./images/icon.svg#icon-Vector"
                      class="heart"
                    ></use>
                  </svg>
                  by
                  <button id="crewModalClose" type="button" class="footer-link-btn show-crew-btn">GoIT Students</button>
                </span>
              </p>
        </div>  
    </footer>
    <!-- <div class="footer-container">
      <div class="footer-content">
      <p class="footer-text">© 2020 | All Rights Reserved | Developed with</p>
      <svg class=heart-svg width="14" height="13">
          <use href="./images/icons.svg#icon-footer-heart-icon"></use>
      </svg>
      <button id="crewModalClose" type="button" class="show-crew-btn">
          by GoIT Students
      </button>
      </div>
  </div> -->
</body>
</html>