<div class="backdrop is-hidden" id="crewBackdrop">
  <button id="crewModalClose" type="button" class="close-crew-btn">
    <svg class=close-svg width="18" height="18">
      <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>
  <div class="team-box">
  
    <div class="team-card">
      <div class="imgBx">
        <img
          srcset="./images/team/roman-33.jpg 320w,
         ./images/team/roman-50.jpg 768w,
          ./images/team/roman-100.jpg 1280w"
          src="./images/team/roman-33.jpg"
          alt="images">
      </div>
      <div class="details">
        <h2>Роман<br><span>Team Lead</span></h2>
      </div>
    </div>
  
    <div class="team-card">
      <div class="imgBx">
        <img
          srcset="./images/team/olena-33.jpg 320w,
         ./images/team/olena-50.jpg 768w,
          ./images/team/olena-100.jpg 1280w"
          src="./images/team/olena-33.jpg"
          loading="lazy"
          alt="images">
      </div>
      <div class="details">
        <h2>Олена<br><span>scrum master</span></h2>
      </div>
    </div>
  
    <div class="team-card">
      <div class="imgBx">
        <img
          srcset="./images/team/anna-33.jpg 320w,
         ./images/team/anna-50.jpg 768w,
          ./images/team/anna-100.jpg 1280w"
          src="./images/team/anna-33.jpg"
          loading="lazy"
          alt="images">
      </div>
      <div class="details">
        <h2>Анна<br><span>Розробник</span></h2>
      </div>
    </div>
    <div class="team-card">
      <div class="imgBx">
        <img
          srcset="./images/team/viktoria-33.jpg 320w,
         ./images/team/viktoria-50.jpg 768w,
          ./images/team/viktoria-100.jpg 1280w"
          src="./images/team/viktoria-33.jpg"
          loading="lazy"
          alt="images">
      </div>
      <div class="details">
        <h2>Вікторія<br><span>Розробник</span></h2>
      </div>
    </div>
    <div class="team-card">
      <div class="imgBx">
        <img
          srcset="./images/team/maryna-33.jpg 320w,
         ./images/team/maryna-50.jpg 768w,
          ./images/team/maryna-100.jpg 1280w"
          src="./images/team/maryna-33.jpg"
          loading="lazy"
          alt="images">
      </div>
      <div class="details">
        <h2>марина<br><span>розробник</span></h2>
      </div>
    </div>
    <div class="team-card">
      <div class="imgBx">
        <img
        srcset="./images/team/antonina-33.jpg 320w,
         ./images/team/antonina-50.jpg 768w,
          ./images/team/antonina-100.jpg 1280w"
          src="./images/team/antonina-33.jpg"
          loading="lazy"
          alt="images">
      </div>
      <div class="details">
        <h2>Антоніна<br><span>Розробник</span></h2>
      </div>
    </div>
    <div class="team-card">
      <div class="imgBx">
        <img
          srcset="./images/team/andy-33.jpg 320w,
         ./images/team/andy-50.jpg 768w,
          ./images/team/andy-100.jpg 1280w"
          src="./images/team/andy-33.jpg"
          alt="images">
      </div>
      <div class="details">
        <h2>андрій<br><span>розробник</span></h2>
      </div>
    </div>
    <div class="team-card">
      <div class="imgBx">
        <img
          srcset="./images/team/ishtvan-33.jpg 320w,
         ./images/team/ishtvan-50.jpg 768w,
          ./images/team/ishtvan-100.jpg 1280w"
          src="./images/team/ishtvan-33.jpg"
          loading="lazy"
          alt="images">
      </div>
      <div class="details">
        <h2>іштван<br><span>розробник</span></h2>
      </div>
    </div>
    <div class="team-card">
      <div class="imgBx">
        <img
          srcset="./images/team/dmytro-33.jpg 320w,
         ./images/team/dmytro-50.jpg 768w,
          ./images/team/dmytro-100.jpg 1280w"
          src="./images/team/dmytro-33.jpg"
          loading="lazy"
          alt="images">
      </div>
      <div class="details">
        <h2>дмитро<br><span>розробник</span></h2>
      </div>
    </div>
    <div class="team-card">
      <div class="imgBx">
        <img
          srcset="./images/team/vitalina-33.jpg 320w,
         ./images/team/vitalina-50.jpg 768w,
          ./images/team/vitalina-100.jpg 1280w"
          src="./images/team/vitalina-33.jpg"
          loading="lazy"
          alt="images">
      </div>
      <div class="details">
        <h2>віталіна<br><span>розробник</span></h2>
      </div>
    </div>
    <div class="team-card">
      <div class="imgBx">
        <img
          srcset="./images/team/alex-33.jpg 320w,
         ./images/team/alex-50.jpg 768w,
          ./images/team/alex-100.jpg 1280w"
          src="./images/team/alex-33.jpg"
          loading="lazy"
          alt="images">
      </div>
      <div class="details">
        <h2>Олександр<br><span>розробник</span></h2>
      </div>
    </div>
    <div class="team-card">
      <div class="imgBx">
        <img
          srcset="./images/team/anton-33.jpg 320w,
         ./images/team/anton-50.jpg 768w,
          ./images/team/anton-100.jpg 1280w"
          src="./images/team/anton-33.jpg"
          loading="lazy"
          alt="images">
      </div>
      <div class="details">
        <h2>Антон<br><span>Розробник</span></h2>
      </div>
    </div>
  
  </div>
</div>

<button type="button" class="btn" class="btn-crew-open" id="crewShowBtn">Crew Members</button>






















<!-- <div class="crew-container" id="ourCrew">

  <button id="crewModalClose" type="button" class="close-crew-btn">
    <svg class=close-svg width="18" height="18">
      <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>
  <div class="team-box">

    <div class="team-card">
      <div class="imgBx">
        <img
          src="https://images.unsplash.com/photo-1532123675048-773bd75df1b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
          alt="images">
      </div>
      <div class="details">
        <h2>SomeOne Famous<br><span>Director</span></h2>
      </div>
    </div>

    <div class="team-card">
      <div class="imgBx">
        <img
          src="https://images.unsplash.com/photo-1549417229-aa67d3263c09?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
          alt="images">
      </div>
      <div class="details">
        <h2>SomeOne Famous<br><span>Producer</span></h2>
      </div>
    </div>

    <div class="team-card">
      <div class="imgBx">
        <img
          src="https://images.unsplash.com/photo-1548094878-84ced0f6896d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
          alt="images">
      </div>
      <div class="details">
        <h2>SomeOne Famous<br><span>Actor</span></h2>
      </div>
    </div>
    <div class="team-card">
      <div class="imgBx">
        <img
          src="https://images.unsplash.com/photo-1532123675048-773bd75df1b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
          alt="images">
      </div>
      <div class="details">
        <h2>SomeOne Famous<br><span>Director</span></h2>
      </div>
    </div>
    <div class="team-card">
      <div class="imgBx">
        <img
          src="https://images.unsplash.com/photo-1532123675048-773bd75df1b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
          alt="images">
      </div>
      <div class="details">
        <h2>SomeOne Famous<br><span>Director</span></h2>
      </div>
    </div>
    <div class="team-card">
      <div class="imgBx">
        <img
          src="https://images.unsplash.com/photo-1532123675048-773bd75df1b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
          alt="images">
      </div>
      <div class="details">
        <h2>SomeOne Famous<br><span>Director</span></h2>
      </div>
    </div>
    <div class="team-card">
      <div class="imgBx">
        <img
          src="https://images.unsplash.com/photo-1532123675048-773bd75df1b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
          alt="images">
      </div>
      <div class="details">
        <h2>SomeOne Famous<br><span>Director</span></h2>
      </div>
    </div>
    <div class="team-card">
      <div class="imgBx">
        <img
          src="https://images.unsplash.com/photo-1532123675048-773bd75df1b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
          alt="images">
      </div>
      <div class="details">
        <h2>SomeOne Famous<br><span>Director</span></h2>
      </div>
    </div>
    <div class="team-card">
      <div class="imgBx">
        <img
          src="https://images.unsplash.com/photo-1532123675048-773bd75df1b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
          alt="images">
      </div>
      <div class="details">
        <h2>SomeOne Famous<br><span>Director</span></h2>
      </div>
    </div>
    <div class="team-card">
      <div class="imgBx">
        <img
          src="https://images.unsplash.com/photo-1532123675048-773bd75df1b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
          alt="images">
      </div>
      <div class="details">
        <h2>SomeOne Famous<br><span>Director</span></h2>
      </div>
    </div>
    <div class="team-card">
      <div class="imgBx">
        <img
          src="https://images.unsplash.com/photo-1532123675048-773bd75df1b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
          alt="images">
      </div>
      <div class="details">
        <h2>SomeOne Famous<br><span>Director</span></h2>
      </div>
    </div>
    <div class="team-card">
      <div class="imgBx">
        <img
          src="https://images.unsplash.com/photo-1532123675048-773bd75df1b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
          alt="images">
      </div>
      <div class="details">
        <h2>SomeOne Famous<br><span>Director</span></h2>
      </div>
    </div>

  </div>

</div> --> 
