<!-- <div class="backdrop is-hidden">
  <div class="modal"></div>
</div> -->

<button type="button" class="btn" class="btn-crew-open" id="crewShowBtn">Crew Members</button>
<div class="crew-container" id="ourCrew">

  <button id="crewModalClose" type="button" class="close-crew-btn">
    <svg class=close-svg width="18" height="18">
      <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>
  <div class="team-box">

    <div class="team-card">
      <div class="imgBx">
        <img
          src="https://images.unsplash.com/photo-1532123675048-773bd75df1b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
          alt="images">
      </div>
      <div class="details">
        <h2>SomeOne Famous<br><span>Director</span></h2>
      </div>
    </div>

    <div class="team-card">
      <div class="imgBx">
        <img
          src="https://images.unsplash.com/photo-1549417229-aa67d3263c09?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
          alt="images">
      </div>
      <div class="details">
        <h2>SomeOne Famous<br><span>Producer</span></h2>
      </div>
    </div>

    <div class="team-card">
      <div class="imgBx">
        <img
          src="https://images.unsplash.com/photo-1548094878-84ced0f6896d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
          alt="images">
      </div>
      <div class="details">
        <h2>SomeOne Famous<br><span>Actor</span></h2>
      </div>
    </div>
    <div class="team-card">
      <div class="imgBx">
        <img
          src="https://images.unsplash.com/photo-1532123675048-773bd75df1b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
          alt="images">
      </div>
      <div class="details">
        <h2>SomeOne Famous<br><span>Director</span></h2>
      </div>
    </div>
    <div class="team-card">
      <div class="imgBx">
        <img
          src="https://images.unsplash.com/photo-1532123675048-773bd75df1b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
          alt="images">
      </div>
      <div class="details">
        <h2>SomeOne Famous<br><span>Director</span></h2>
      </div>
    </div>
    <div class="team-card">
      <div class="imgBx">
        <img
          src="https://images.unsplash.com/photo-1532123675048-773bd75df1b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
          alt="images">
      </div>
      <div class="details">
        <h2>SomeOne Famous<br><span>Director</span></h2>
      </div>
    </div>
    <div class="team-card">
      <div class="imgBx">
        <img
          src="https://images.unsplash.com/photo-1532123675048-773bd75df1b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
          alt="images">
      </div>
      <div class="details">
        <h2>SomeOne Famous<br><span>Director</span></h2>
      </div>
    </div>
    <div class="team-card">
      <div class="imgBx">
        <img
          src="https://images.unsplash.com/photo-1532123675048-773bd75df1b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
          alt="images">
      </div>
      <div class="details">
        <h2>SomeOne Famous<br><span>Director</span></h2>
      </div>
    </div>
    <div class="team-card">
      <div class="imgBx">
        <img
          src="https://images.unsplash.com/photo-1532123675048-773bd75df1b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
          alt="images">
      </div>
      <div class="details">
        <h2>SomeOne Famous<br><span>Director</span></h2>
      </div>
    </div>
    <div class="team-card">
      <div class="imgBx">
        <img
          src="https://images.unsplash.com/photo-1532123675048-773bd75df1b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
          alt="images">
      </div>
      <div class="details">
        <h2>SomeOne Famous<br><span>Director</span></h2>
      </div>
    </div>
    <div class="team-card">
      <div class="imgBx">
        <img
          src="https://images.unsplash.com/photo-1532123675048-773bd75df1b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
          alt="images">
      </div>
      <div class="details">
        <h2>SomeOne Famous<br><span>Director</span></h2>
      </div>
    </div>
    <div class="team-card">
      <div class="imgBx">
        <img
          src="https://images.unsplash.com/photo-1532123675048-773bd75df1b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
          alt="images">
      </div>
      <div class="details">
        <h2>SomeOne Famous<br><span>Director</span></h2>
      </div>
    </div>

  </div>

</div>
