.btn {
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    touch-action: manipulation;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    background: transparent;
    color: $header-btn-color-without-accent-bground;

}

.btn.watched {
   width: 148px;
   height: 42px;
   padding: 14px 13px 14px 12px;
   border: 1px solid $header-btn-color-without-accent-bground;
   color: $header-btn-color-without-accent-bground$card-title-color;
   
}

.btn.queue {
   width: 148px;
   height: 42px;
   padding: 14px 13px 14px 12px;
   border: 1px solid $header-btn-color-without-accent-bground;
   color: $header-btn-color-without-accent-bground;

}

.btn.add_to_watched {
   width: 136px;
   height: 44px;
   padding: 10px 14px 10px 12px;
   border: 1px solid $card-title-color;
   color: $card-title-color;
}

.btn.add_to_queue {
    width: 136px;
    height: 44px;
    padding: 8px 14px 8px 12px;
    border: 1px solid $card-title-color;
    color: $card-title-color;
}

.btn:hover,
.btn:focus {
    color: $header-btn-color-without-accent-bground;
    background-color: $accent-color;
    border: none;
    
}
