.card {
  width: 280px;
  display: flex;
  flex-direction: column;
}

.card__img {
  display: block;
  width: 280px;
  height: 398px;
  margin-bottom: 8px;
  border-radius: 5px;
}

.card__title {
  width: 100%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  text-transform: uppercase;
  margin: 0;
  // color: #000000;
}

.card__genres {
  margin: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  color: #ff6b08;
}

.card__info {
  display: flex;
  width: 100%;
}

.card__rating {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 9px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  width: 36px;
  background: #ff6b01;
  border-radius: 5px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .card {
    width: 336px;
  }

  .card__img {
    width: 336px;
    height: 455px;
  }
}

@media screen and (min-width: 1280px) {
  .card {
    width: 395px;
  }

  .card__img {
    width: 395px;
    height: 574px;
    margin-bottom: 12px;
  }

  .card__title {
    font-size: 20px;
    line-height: 1.2;
  }

  .card__genres {
    font-size: 20px;
    line-height: 1.2;
  }
}
