// Стилі для приховування модального вікна 
.backdrop.is-hidden {
  visibility: hidden;

  opacity: 0;

  pointer-events: none;
}

// Бэкдроп
.backdrop {
  position: fixed;
  top: 0%;
  left: 0%;

  pointer-events: initial;
  opacity: 1;
  visibility: visible;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.25);

  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: linear;
}

// Модалка
.modal {
  position: absolute;
  top: 20px;
  left: 50%;

  padding: 48px 20px 40px;

  width: 280px;

  background-color: #FFFFFF;


  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);

  transform: translateX(-50%) scale(1);

  transition: transform 250ms linear;

  font-family: 'Roboto';

  @media screen and (min-width: 768px) {
    top: 219px;

    width: 704px;

    padding: 40px 36px;
  }

  @media screen and (min-width: 1024px) {
    top: 150px;

    width: 806px;

    padding: 40px 12px;
  }

  .backdrop.is-hidden & {
    transform: translateX(-50%) scale(0.8);
  }
}

.close-button {
  position: absolute;

  right: 8px;
  top: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  
  padding: 0;

  border: none;

  cursor: pointer;

  background-color: inherit;
}

// Розмітка картки фільму

.film-card {
  display: flex;
  flex-wrap: wrap;
  
  &__cover-thumb {
    margin-bottom: 20;
  }
}

.film-desc {
  
  &__title {
    display: block;
    margin-bottom: 20;

    line-height: 1.15;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
  }
}

.film-info {
  display: flex;

  justify-content: space-between;
  margin-bottom: 20;

  line-height: 16px;

  font-size: 12;
  font-weight: 500;

  &__data-headlines {
    color: aqua;
  }

  &__about-title {
    display: block;
    margin-bottom: 8;
  }

  &__about-desc {
    margin-bottom: 20;
  }
}

.modal__buttons {
  display: flex;
  
  button:first-child {
    margin-right: 20;
  }
}