.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.logo {
  display: flex;
  align-items: center;

  transform: scale(1);
  transition: transform $duration $timing-function;

  &:hover,
  &:focus {
    transform: scale(1.05);
  }
}

.logo__icon {
  margin-right: 10px;
}

.logo__text {
  display: none;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 40px;
}

.nav__link {
  position: relative;
  padding-bottom: 3px;

  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;

  color: $header-text-color;

  &::after {
    position: absolute;
    left: 0;
    bottom: 0;

    display: inline-block;
    content: '';
    width: 100%;
    height: 3px;
    background-color: #ff001b;

    transform: scaleX(0);
    transition: transform $duration $timing-function;
  }
  &:hover:after,
  &:focus:after {
    transform: scaleX(1);
  }
}

.current {
  &::after {
    position: absolute;
    bottom: 0;

    display: inline-block;
    content: '';
    width: 100%;
    height: 3px;
    background-color: #ff001b;

    transform: scaleX(1);
  }
}

@media screen and (min-width: 768px) {
  .nav {
    margin-bottom: 40px;
  }

  .logo__text {
    display: block;

    font-family: 'Roboto';
    font-size: 30px;
    font-weight: 500;
    line-height: 1.17;

    color: $header-text-color;
  }
}
