// Знизу
// .theme-switcher {
//   position: absolute;
//   display: flex;
//   align-items: center;
//   gap: 5px;
//   z-index: 10;
//   top: 200px;
//   right: 90px;
// }

.theme-switcher-container {
  position: relative;
}

// .header {
//   position: relative;
// }

// Зверху, тягнеться за екраном
// .theme-switcher {
//   position: absolute;
//   display: flex;
//   align-items: center;
//   gap: 5px;
//   z-index: 10;
//   top: 23px;
//   right: 77px;
// }

// Зверху
.theme-switcher {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 5px;
  z-index: 10;
  top: -13px;
  right: 77px;
}

.theme-switcher__label {
  position: relative;
  display: flex;
  align-items: center;
}

.theme-switcher__label::before {
  position: absolute;

  content: '';
  width: 46px;
  height: 20px;

  border: 1px solid $accent-color;
  border-radius: 50px;

  box-shadow: none;

  transition: (box-shadow, border-color, background-color) $duration
    $timing-function;
}

.theme-switcher__label::after {
  position: absolute;
  left: 2px;

  content: '';
  width: 15px;
  height: 15px;

  border-radius: 50%;
  background-image: url(../images/sun.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  transition: (border-color, transform) $duration $timing-function;
}

.theme-switcher__input:checked + .theme-switcher__label::before {
  border-color: #9c9c9c90;
}

.theme-switcher__input:checked + .theme-switcher__label::after {
  transform: translateX(27px);
  background-image: url(../images/star.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.theme-switcher__input:hover + .theme-switcher__label::before {
  box-shadow: 0px 0px 15px 2px rgba(255, 107, 1, 0.57);
  -webkit-box-shadow: 0px 0px 15px 2px rgba(255, 107, 1, 0.57);
  -moz-box-shadow: 0px 0px 15px 2px rgba(255, 107, 1, 0.57);
}

@media screen and (min-width: $tablet) {
  .theme-switcher {
    bottom: 133px;
    right: 90px;
  }
}

// @media screen and (min-width: $desktop) {
//   .theme-switcher {
//     right: 90px;
//   }
// }
