//Розміри екрану
$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;

// logo
$logo-color: #ffffff;

//accent color
$accent-color: #ff6b08;

//header
$header-text-color: #ffffff;
$header-input-text-color: #ffffff;
$header-input-border-color: #ffffff;
$header-text-btn-color-with-accent-bground: #ffffff;
$header-btn-color-without-accent-bground: #ffffff;

//main
$main-background-color: #ffffff;
$card-title-color: #000000;
$accent-color: #ff6b08;

//footer
$footer-text-color: #545454;
$footer-background-color: #f7f7f7;
$pagination-background-color: #f7f7f7;

//buttons
$accent-color: #ff6b08;
$btn-text-color-with-accent-bground: #ffffff;
$btn-color-without-accent-bground: #000000;
$btn-border-color-without-accent-bground: #000000;

//modal descriptions
$modal-title-color: #000000;
$modal-text-color: #000000;
$modal-category-text-color: #8c8c8c;
$modal-background-rating-color: #f7f7f7;

//animation
$duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
// Приклад використання, якщо змінюються декілька властивостей === transition: (border-color, transform) $duration $timing-function;
