<div class="header-log-reg-out">
  <button id="header-login-btn" class="header-login-btn">Log In</button>
  <button id="header-register-btn" class="header-register-btn">Register</button>
  <button id="header-out-btn" class="header-out-btn">Lig Out</button>
</div>

  <div class="login-form">
    <h2 class="login-title">Login</h2>

    <input
      type="email"
      name="login-email"
      id="login-email"
      class="login-email login"
      placeholder="email"
      required
    />
    <input
      type="password"
      name="login-password"
      id="login-password"
      class="login-password login"
      placeholder="password"
      required
    />
    <!-- <input type="submit" value="log in" /> -->
    <button id="login-btn" class="login-btn">Login</button>
    <button id="an-btn" class="an-btn">don't have an accaunt? REGISTER</button>
  </div>

  <div class="register-form" id="register-form">
    <h2 class="login-title">Register</h2>

    <input
      type="email"
      name="register-email"
      id="register-email"
      class="register-email login"
      placeholder="email"
      required
    />
    <input
      type="password"
      name="register-password"
      id="register-password"
      class="register-password login"
      placeholder="password"
      required
    />
    <!-- <input type="submit" value="log in" /> -->
    <button id="register-btn" class="register-btn">Register</button>
    <button id="log-btn" class="an-btn">have an accaunt? LOGIN</button>
  </div>

