<header>
	<div class="container">
		<nav>
			<a href="./index.html">
				<svg>
					<use href="./images/icons.svg#icon-logo-icon"></use>
				</svg>
				<span>Filmoteka</span>
			</a>

			<ul>
				<li class><a href="#">Home</a></li>
				<li><a href="#">My library</a></li>	
			</ul>	
		</nav>

		<form class="search-form">
			<!-- <div class="search-form__wrap"> -->
			  <input
			class="search-input"
			type="text"
			name="searchQuery"
			autocomplete="off"
			placeholder="Movie search"
		  />
		  <button class="search-btn" type="submit" aria-label="search button">
			<svg width="24" height="24">
			  <use href="#"></use>
			</svg>
		  </button>
		</form>
	</div>
</header>