/*------------- header navigation-----------*/
// .header-test {
// 	position: fixed;
// 	max-width: 1600px;
// 	min-height: 230px;
// 	top: 0;
// 	left: 0;
// }

.header-home {

	max-width: 1600px;
	padding: 40px 0;
	height: 230px;
	background-color: rgba(0, 0, 0, 0.56);
	margin: 0 auto;


}

.header-bgr {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	opacity: 0.9;

	background-image: url(../images/mobile/home-background-mobile.jpg);
	
	@media (min-device-pixel-ratio: 2),
  	(-webkit-min-device-pixel-ratio: 2),
  	(min-resolution: 192dpi),
  	(min-resolution: 2dppx) {
		background-image: url(../images/mobile/home-background-mobile@2x.jpg);
  }

	@media screen and (min-width: 768px) {
		background-image: url(../images/tablet/home-background-tab.jpg);

		@media (min-device-pixel-ratio: 2),
  	(-webkit-min-device-pixel-ratio: 2),
  	(min-resolution: 192dpi),
  	(min-resolution: 2dppx) {
		background-image: url(../images/tablet/home-background-tablet@2x.jpg);
	}
	}

	@media screen and (min-width: 1200px) {
		background-image: url(../images/desktop/home-background-desc.jpg);

		@media (min-device-pixel-ratio: 2),
		(-webkit-min-device-pixel-ratio: 2),
		(min-resolution: 192dpi),
		(min-resolution: 2dppx) {
			background-image: url(../images/desktop/home-background-desktop@2x.jpg)
		}
	}

}

/*------------ search form ---------------*/

.search-form {
    position: relative;
	width: 280px;
	margin: 0 auto;
	
  
	@media screen and (min-width: 768px) {
	  width: 336px;
	}
  
	@media screen and (min-width: 1280px) {
	  width: 394px;
	}
}

.search-input {

	font-family: 'Roboto';
	padding-bottom: 3px;
  
	font-weight: 400;
	font-size: 14px;
	line-height: 1.14;
  
	color: #ffffff;
  
	background-color: transparent;
	width: 100%;
	border: none;
	border-bottom: 1px solid #fff;
  }

  .search-input::placeholder {
	color: #ffffff;
	font-family: 'Roboto';
  
	font-weight: 400;
	font-size: 14px;
	line-height: 1.14;
  }
  
  .search-btn {
	background-color: transparent;
	border: none;
	position: absolute;
	bottom: 3px;
	right: 0;
  }
