.library-header {
  background-color: rgb(71, 0, 0);
  padding-top: 40px;
  padding-bottom: 62px;
}

.library__container {
  position: relative;
}

.library-overlay {
  max-width: 1600px;
  height: 230px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../images/mobile/library-background-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/mobile/library-background-mobile@2x.jpg);
  }

  @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/mobile/library-background-mobile@3x.jpg);
  }
}

.btn-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // gap: 20px;
}

.library-btn {
  min-width: 130px;
  height: 44px;
}

@media screen and (min-width: 768px) {
  .library-header {
    padding-bottom: 60px;
  }

  .library-overlay {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/tablet/library-background-tablet.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../images/tablet/library-background-tablet@2x.jpg);
    }

    @media (min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../images/tablet/library-background-tablet@3x.jpg);
    }
  }

  .btn-wrap {
    justify-content: center;
    gap: 32px;
  }

  // видалити
  .library-btn {
    min-width: 152px;
  }
}

@media screen and (min-width: $desktop) {
  .library-overlay {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/desktop/library-background-desktop.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../images/desktop/library-background-desktop@2x.jpg);
    }

    @media (min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../images/desktop/library-background-desktop@3x.jpg);
    }
  }

  .btn-wrap {
    justify-content: center;
    gap: 16px;
  }

  // видалити
  .library-btn {
    min-width: 147px;
  }
}

// ----------------- Перемикач тем -----------------
// Знизу
// .theme-switcher {
//   position: absolute;
//   display: flex;
//   align-items: center;
//   gap: 5px;
//   z-index: 10;
//   top: 200px;
//   right: 90px;
// }

// Зверху
.theme-switcher {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 5px;
  z-index: 10;
  bottom: 143px;
  right: 77px;
}

.theme-switcher__label {
  position: relative;
  display: flex;
  align-items: center;
}

.theme-switcher__label::before {
  position: absolute;

  content: '';
  width: 46px;
  height: 20px;

  border: 1px solid $accent-color;
  border-radius: 50px;

  box-shadow: none;

  transition: (box-shadow, border-color, background-color) $duration
    $timing-function;
}

.theme-switcher__label::after {
  position: absolute;
  left: 2px;

  content: '';
  width: 15px;
  height: 15px;

  border-radius: 50%;
  background-image: url(../images/sun.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  transition: (border-color, transform) $duration $timing-function;
}

.theme-switcher__input:checked + .theme-switcher__label::before {
  border-color: #9c9c9c90;
}

.theme-switcher__input:checked + .theme-switcher__label::after {
  transform: translateX(27px);
  background-image: url(../images/star.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.theme-switcher__input:hover + .theme-switcher__label::before {
  box-shadow: 0px 0px 15px 2px rgba(255, 107, 1, 0.57);
  -webkit-box-shadow: 0px 0px 15px 2px rgba(255, 107, 1, 0.57);
  -moz-box-shadow: 0px 0px 15px 2px rgba(255, 107, 1, 0.57);
}

@media screen and (min-width: $tablet) {
  .theme-switcher {
    bottom: 133px;
    right: 90px;
  }
}
