.library-header {
  background-color: rgb(71, 0, 0);
  padding-top: 40px;
  padding-bottom: 62px;
}

.library-overlay {
  max-width: 1600px;
  height: 230px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../images/mobile/library-background-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/mobile/library-background-mobile@2x.jpg);
  }

  @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/mobile/library-background-mobile@3x.jpg);
  }
}

.library__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.library-logo {
  display: flex;
  align-items: center;
}

.library-logo__icon {
  margin-right: 10px;
}

.library-logo__text {
  display: none;
}

.link-wrap {
  display: flex;
  align-items: center;
}

.nav-link {
  position: relative;
  padding-bottom: 3px;

  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;

  &::after {
    position: absolute;
    left: 0;
    bottom: 0;

    display: inline-block;
    content: '';
    width: 100%;
    height: 3px;
    background-color: #ff001b;

    transform: scaleX(0);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover:after,
  &:focus:after {
    transform: scaleX(1);
  }
}

.nav-link:not(:last-child) {
  margin-right: 40px;
}

.current {
  &::after {
    position: absolute;
    bottom: 0;

    display: inline-block;
    content: '';
    width: 100%;
    height: 3px;
    background-color: #ff001b;

    transform: scaleX(1);
  }
}

.btn-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // gap: 20px;
}

.library-btn {
  min-width: 130px;
  height: 44px;
}

@media screen and (min-width: 768px) {
  .library-header {
    padding-bottom: 60px;
  }

  .library-overlay {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/tablet/library-background-tablet.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../images/tablet/library-background-tablet@2x.jpg);
    }

    @media (min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../images/tablet/library-background-tablet@3x.jpg);
    }
  }

  .library__nav {
    margin-bottom: 40px;
  }

  .library-logo__text {
    display: block;

    font-family: 'Roboto';
    font-size: 30px;
    font-weight: 500;
    line-height: 1.17;

    color: #ffffff;
  }

  .btn-wrap {
    justify-content: center;
    gap: 32px;
  }

  // видалити
  .library-btn {
    min-width: 152px;
  }
}

@media screen and (min-width: 1280px) {
  .library-overlay {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/desktop/library-background-desktop.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../images/desktop/library-background-desktop@2x.jpg);
    }

    @media (min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../images/desktop/library-background-desktop@3x.jpg);
    }
  }

  .btn-wrap {
    justify-content: center;
    gap: 16px;
  }

  // видалити
  .library-btn {
    min-width: 147px;
  }
}
