.main_section {
  @media screen and (max-width: 767px) {
    padding-top: 20px;
    padding-bottom: 40px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.list_film {
  display: flex;
  flex-wrap: wrap;
  @media screen and (min-width: 320px) {
    gap: 20px;
  }
  @media screen and (min-width: 768px) {
    gap: 32px;
  }
  @media screen and (min-width: 1280px) {
    column-gap: 16px;
    row-gap: 32px;
  }
}

.list_film_item {
  min-width: 280px;

  @media screen and (min-width: 768px) {
    width: calc((100% - 32px) / 2);
  }
  @media screen and (min-width: 1280px) {
    width: calc((100% - 2 * 16px) / 3);
  }
  transition: transform 250ms;
}
.list_film_item:hover,
.list_film_item:focus {
  transform: scale(1.05);
}

//  стилі для кнопок пагінації -------------------

//  стилі для кнопок пагінації -------------------
main {
  // при ховері та фокусі кнопки
  .tui-pagination .tui-page-btn,
  .tui-pagination .tui-page-btn {
    transition: (border-radius, transform, border-color) $duration
      $timing-function;
  }

  .tui-pagination .tui-page-btn:hover,
  .tui-pagination .tui-page-btn:focus,
  .tui-pagination .tui-first + .tui-prev:hover,
  .tui-pagination .tui-first + .tui-prev:focus {
    border-radius: 15px;
    transform: scale(1.1);
    border: 1px solid #ff6b08;
  }

  .tui-pagination .tui-is-selected:hover {
    background-color: #ff6b08;
    border: 1px solid #ff6b08;
  }

  .tui-pagination {
    span,
    .tui-next,
    .tui-last,
    .tui-first,
    .tui-first + .tui-prev,
    .tui-prev-is-ellip,
    .tui-next-is-ellip,
    .tui-page-btn {
      border-radius: 5px;
      cursor: pointer;
    }
  }

  // вирівнення кнопки крапка
  @media screen and (max-width: 767px) {
    .tui-pagination .tui-prev,
    .tui-pagination .tui-next {
      margin: 0;
      border: 1px solid #ddd;
    }

    .tui-pagination {
      margin-top: 41px;
    }
    .tui-pagination {
      .tui-next,
      .tui-last,
      .tui-first,
      .tui-first + .tui-prev,
      .tui-prev-is-ellip,
      .tui-next-is-ellip,
      .tui-page-btn {
        width: 25px;
        height: 25px;
      }
    }
  }
  @media screen and (min-width: 768px) {
    .tui-pagination {
      height: 28px;
      margin: 12px 0 12px;
      margin-top: 60px;
      line-height: normal;
      text-align: center;
      font-size: 0;
    }

    .tui-pagination .tui-page-btn {
      display: inline-block;
      align-items: center;
      justify-content: center;
      margin-left: 5px;

      height: 40px;
      width: 40px;
      color: #000000;

      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 1.33;
      // background-color: #fff;
    }
    // візуальне розташування
    .tui-pagination .tui-first + .tui-prev,
    .tui-pagination .tui-next + .tui-last,
    .tui-pagination .tui-next-is-ellip {
      margin-right: 20px;
    }

    //  стрілок та крапки
    .tui-pagination .tui-prev,
    .tui-pagination .tui-next,
    .tui-pagination .tui-last,
    .tui-pagination .tui-first {
      border-radius: 5px;
      // background-color: #c2baba;
      overflow: hidden;
      height: 40px;
      padding: 0;
      font-size: 100px;
      line-height: 26px;
    }
    .tui-pagination .tui-prev-is-ellip,
    .tui-pagination .tui-next-is-ellip {
      border-radius: 5px;
      padding: 12px 12px 12px 12px;
      overflow: hidden;
      height: 40px;
      font-size: 0;
      line-height: 26px;
    }
  }
  &.dark-theme .tui-pagination {
    .tui-next,
    .tui-last,
    .tui-first,
    .tui-first + .tui-prev,
    .tui-prev-is-ellip,
    .tui-next-is-ellip,
    .tui-page-btn {
      background-color: #fff;
      border-radius: 5px;
    }
  }

  #selected {
    color: #fff;
    background-color: #ff6b08;
    border: #ff6b08;
  }

  .tui-page-btn.tui-last,
  .tui-page-btn.tui-first {
    display: none;
  }
}
// -----------------  кнопка up
#myBtn {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 17px;
  z-index: 1;
  background-color: #ff6b08;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px;
  border-radius: 50%;
  // .dark-theme & {
  //   background-color: #fff;
  //   border: 1px solid #ff6b08;
  // }
  transform: scale(1);
  transition: (transform, background-color) $duration $timing-function;
}
#myBtn:hover,
#myBtn:focus {
  transform: scale(1.15);

  background-color: #c2baba;
  // .dark-theme & {
  //   background-color: #ff6b08;
  // }
}

/*Стилі тексту-заглушки на сторінці бібліотеки*/
.library_text {
  font-size: 25px;
  font-weight: 900;

  text-align: center;
  color: #470000;
  padding-top: 100px;
  padding-bottom: 100px;
  @media screen and (min-width: $tablet) {
    font-size: 40px;
  }
}
