.main_section {
  @media screen and (max-width: 767px) {
    padding-top: 20px;
    padding-bottom: 40px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.list_film {
  display: flex;
  flex-wrap: wrap;
  @media screen and (min-width: 320px) {
    gap: 20px;
  }
  @media screen and (min-width: 768px) {
    gap: 32px;
  }
  @media screen and (min-width: 1280px) {
    column-gap: 16px;
    row-gap: 32px;
  }
}

.list_film_item {
  min-width: 280px;

  @media screen and (min-width: 768px) {
    width: calc((100% - 32px) / 2);
  }
  @media screen and (min-width: 1280px) {
    width: calc((100% - 2 * 16px) / 3);
  }
  transition: transform 250ms;
}
.list_film_item:hover,
.list_film_item:focus {
  transform: scale(1.05);
}

//  стилі для кнопок пагінації -------------------

// при ховері та фокусі кнопки
.tui-pagination .tui-page-btn:hover,
.tui-pagination .tui-page-btn:focus {
  background-color: aqua;
  border-radius: 15px;
}
// при активній кнопці
.tui-pagination .tui-is-selected,
.tui-pagination strong {
  color: #fff;
  background-color: #ff6b08;
  border-radius: 5px;
  cursor: pointer;
}
//  стрілок та крапки
.tui-pagination .tui-prev,
.tui-pagination .tui-next,
.tui-pagination .tui-last,
.tui-pagination .tui-first {
  border-radius: 5px;
  background-color: #c2baba;
}
// вирівнення кнопки крапка
@media screen and (max-width: 767px) {
  .tui-page-btn.tui-next-is-ellip.tui-last-child,
  .tui-page-btn.tui-prev-is-ellip.tui-first-child {
    height: 28px;
  }
  .tui-pagination {
    margin-top: 41px;
  }
}
.tui-pagination {
  margin-top: 41px;
}
@media screen and (min-width: 768px) {
  .tui-pagination {
    height: 28px;
    margin: 12px 0 12px;
    margin-top: 60px;
    line-height: normal;
    text-align: center;
    font-size: 0;
  }

  .tui-pagination .tui-page-btn {
    display: inline-block;
    align-items: center;
    justify-content: center;

    height: 40px;
    width: 40px;
    color: #000000;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.33;
  }

  //  стрілок та крапки
  .tui-pagination .tui-prev,
  .tui-pagination .tui-next,
  .tui-pagination .tui-last,
  .tui-pagination .tui-first {
    border-radius: 5px;
    background-color: #c2baba;
    overflow: hidden;
    height: 40px;
    padding: 0;
    font-size: 100px;
    line-height: 26px;
  }
  .tui-pagination .tui-prev-is-ellip,
  .tui-pagination .tui-next-is-ellip {
    border-radius: 5px;
    padding: 12px 12px 12px 12px;
    overflow: hidden;
    height: 40px;
    font-size: 0;
    line-height: 26px;
  }
}
// -----------------  кнопка up
#myBtn {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1;
  background-color: #ff6b08;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
}
#myBtn:hover,
#myBtn:focus {
  background-color: aqua;
}
