<!-- Бєкдроп з Модальним Вікном -->
<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="close-button" type="button" data-modal-close>
      <svg width="30px" height="30px">
        <use href="./images/icons.svg#icon-close-modal"></use>
      </svg>
    </button>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae,
      saepe eos laudantium impedit neque ut reprehenderit autem doloremque.
      Libero, ullam totam doloribus minus a nesciunt in odio facere officia
      consequuntur amet cum! Officia, rem eligendi tenetur quos porro animi a
      omnis natus rerum architecto, quas eaque iusto dolorem ratione voluptas
      laboriosam dolore corporis doloribus officiis quam, repellendus quasi
      mollitia dolorum! Aut officiis maxime architecto magnam. Modi mollitia
      inventore dolores! Quasi culpa labore iure adipisci sit optio rem dolores
      nesciunt ea, facilis nobis, voluptatibus excepturi voluptatem magni.
      Nostrum facere a repellendus qui similique ratione sunt velit, amet
      commodi asperiores neque maxime libero enim veritatis harum quam
      consequuntur deserunt quae id? Maiores, praesentium voluptate.
      Dignissimos, culpa est. Recusandae expedita at ipsam officia distinctio
      nulla porro quas minus nam! Non repellendus ipsum sint dolore velit
      laborum, nulla id, perspiciatis nisi facilis fugit aliquam tempora, totam
      expedita illo vel mollitia odio dolorum voluptatum ut.
    </p>
  </div>
</div>
