<!-- Бєкдроп з Модальним Вікном -->
<div class="backdrop" data-modal>
  <div class="details-modal">
    <button class="close-button" type="button" data-modal-close>
      <svg width="30px" height="30px">
        <use href="./images/icons.svg#icon-close-modal"></use>
      </svg>
    </button>
    <div class="film-card">
      <div class="film-card__cover-thumb">
        <img
          class="film-card__cover"
          src="https://images.pexels.com/photos/2773557/pexels-photo-2773557.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="Film cover"
          loading="lazy"
        />
      </div>
      <div class="film-desc">
        <p class="film-desc__title">Film title</p>
        <div class="film-info">
          <div class="categories">
            <div class="categories__item">
              <p class="category">Vote / Votes</p>
              <div class="categories__value--votes">
                <span class="vote">0.0</span>
                <span class="slash">/</span>
                <span class="votes">0000</span>
              </div>
            </div>
            <div class="categories__item">
              <p class="category">Popularity</p>
              <p class="categories__value--rating">000.0</p>
            </div>
            <div class="categories__item">
              <p class="category">Original Title</p>
              <p class="categories__value--original-title">
                Original film title
              </p>
            </div>
            <div class="categories__item">
              <p class="category">Genre</p>
              <p class="categories__value--genre">Some genre</p>
            </div>
          </div>
        </div>
        <p class="film-desc__about-title">About</p>
        <p class="film-desc__about-desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas nobis
          nisi illum! Labore veniam vitae nam doloremque error reprehenderit
          numquam, nobis odio blanditiis. Beatae alias sint porro reprehenderit.
          Soluta, rem reprehenderit vitae explicabo ratione natus earum
          blanditiis praesentium. Dolores tempore molestiae rem quod dolor
          placeat eum ea fugit molestias repellat sint expedita id, excepturi,
          harum magni laboriosam error illum eveniet. Tempore rem ad atque
          explicabo eum quis dignissimos nihil saepe!
        </p>
        <div class="modal__buttons">
          <button class="modal__button">Add to watched</button>
          <button class="modal__button">Add to queue</button>
        </div>
      </div>
    </div>
  </div>
</div>
